{% extends "layout.html" %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<h1 class="display-4">Registration Page</h1>

	<form action="/register" method="POST">
	  <div class="form-group">
	    <label for="username">Username</label>
	    <input type="text" class="form-control" id="username" name="username">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" name="password">
	    <small id="passwordHelp" class="form-text text-muted">We'll never share your username and password with anyone else.</small>
	  </div>
	  <div class="form-group form-check">
	    <input type="checkbox" class="form-check-input" id="rememberMe" required>
	    <label class="form-check-label" for="rememberMe">I agree to the Privacy Policy</label>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}